@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.card {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  img {
    width: 100%;
    height: auto;
    min-height: 255px;
    object-fit: cover;
    @include responsive(md) {
      min-width: 545px;
      min-height: 297.5px;
    }
    @include responsive(lg) {
      width: auto;
      height: 100%;
    }
  }
  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    max-width: 80%;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
  }
  a {
    position: absolute;
    z-index: 3;
    inset: 0;
  }
}

.card::before {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
  z-index: 1;
}