@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: clamp(111px, 15.486vw, 223px);
  border-radius: clamp(10px, 1.736vw, 25px);
  background-color: #757575;
  color: #FFFFFF;
  @include responsive(lg) {
    align-items: center;
  }
  &__title {
    margin-left: 16px;
    margin-right: 102px;
    font-size: clamp(24px, 3.333vw, 48px);
    font-weight: 500;
    @include responsive(lg) {
      margin: 0;
    }
  }
}